<div class="container">
    <div class="row">
        <center>
            <h2>{{technique}}</h2>
        </center>
        <hr/>
        <div class="row description-row">
          <div class="col-xs-6 col-xs-offset-3">
          <div class="col-xs-3">
            <img src="images/Blurring Menu.gif">
            <img src="images/Bowing Menu.gif">
          </div>
          <div class="col-xs-3">
            <img src="images/Rating Menu.gif">
            <img src="images/Flower Menu.gif">
            <img src="images/Smart Menu.gif">
          </div>
          <div class="col-xs-3">
            <img src="images/Fish-eye Menu.gif">
            <img src="images/Prediction-by-bar Menu.gif">
          </div>
          <div class="col-xs-3">
            <img src="images/Hyperbolic Menu.gif">
            <img src="images/Underlying Menu.gif">
            <img src="images/Square Menu.gif">
          </div>
        </div>
        </div>
        <p class="description text-center" ng-bind-html-unsafe="description">
        </p>
        <nav class="navigation center-block">
            <ul class="pager">
                <li class="previous"><a href="#/info"><span aria-hidden="true">&larr;</span>Previous</a></li>
                <li class="next"><a href="#/home">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
</div>
